PORT=4000
WEB_PORT=4321
STUDIO_PORT=3333

PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_SANITY_PROJECT_ID=ppsg7ml5
PUBLIC_SANITY_DATASET=production

SANITY_STUDIO_PROJECT_ID=ppsg7ml5
SANITY_STUDIO_DATASET=production
SANITY_STUDIO_HOME=/workspace/.config/home
SANITY_STUDIO_XDG_CONFIG_HOME=/workspace/.config/xdg
SANITY_STUDIO_XDG_CACHE_HOME=/workspace/.config/cache
