<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="texto-oculto">{{site.title}}</h1>
                <img  class="img-responsive" src="img/{{site.images.header_logo}}" alt="Kontinu Guatemala">

                <div class="intro-text">

                    <span class="name">{{ site.navbar_brand }}</span>
                    <!-- <img  class="img-responsive logo-letters" src="img/white_letters.png" alt="Kontinu Guatemala"> -->
                    <span class="skills">{{ site.skills }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
