<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title  %} {{ page.title }} - {{ site.title }} {% else %} {{ site.title }} {% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <!-- <meta name="keywords" content="{{ site.keywords }}" /> -->
    {% if site.meta_author %}<meta name="author" content="{{ site.meta_author }}">{% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico?">
    <!-- Aqui agregamos lo meta-tags -->
    <meta name=”robots” content=index,follow”>
    <link rel="canonical" href="http://www.kontinu.io" />
    <meta property="og:locale" content="sp_GT" />
    <meta property="og:type" content="service" />
    <meta property="og:title" content="Kontinu | Devops Guatemala" />
    <!-- <meta property="og:description" content="Devops, cursos de Docker, Jenkins, automatización, consultoria, AWS, CI, Continous Integration, Software Delivery, Pipelines" /> -->
    <meta property="og:url" content="http://www.kontinu.io" />
    <meta property="og:site_name" content="Kontinu" />
    <meta property="article:tag" content="alt tag" />
    <meta property="article:tag" content="canonical tag" />
    <meta property="article:tag" content="header tag" />
    <meta property="article:tag" content="html" />
    <meta property="article:tag" content="html tags" />
    <meta property="article:tag" content="meta description" />
    <meta property="article:tag" content="meta tags" />
    <meta property="article:tag" content="open graph" />
    <meta property="article:tag" content="responsive design meta tag" />
    <meta property="article:tag" content="robots meta tag" />
    <!-- <img src="/img/portfolio/automation.png" alt="automatización" />
    <img src="/img/portfolio/diagnose.png" alt="diagnostico-descubrimiento"/>
    <img src="/img/portfolio/devops.png" alt="devops"/>
    <img src="/img/portfolio/cd.png" alt="continuous-delivery-pipelines"/>
    <img src="/img/portfolio/ci.png" alt="continuous-integration"/>
    <img src="/img/portfolio/docker.png" alt="docker"/> -->

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl}}">

    <!-- Google verification -->
    {% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}

    <!-- Bing Verification -->
    {% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl}}">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://allfont.net/allfont.css?fonts=league-spartan" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if site.ga.id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.ga.id}}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{site.ga.id}}');

    </script>
    {% endif %}
</head>
