<!-- Portfolio Grid Section -->



<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2> Servicios </h2>
                <!-- <hr class="star-primary"> -->
                <br>
            </div>
        </div>
        <div class="row jumbotron">
            {% for post in site.posts %}
            <div class="col-sm-4 portfolio-item">
                    <div class="polaroid container zoom">
                        <a href="{{ post.reference }}" >
                            <img src="{{baseurl}}img/portfolio/{{post.img}}" alt="{{post.tooltiptext}}" style="width:100%">
                        </a>
                        <div   style="word-wrap: break-word; padding: 10px">
                                <h4 >{{post.tooltiptext | strip}}</h4>
                        </div>
                    </div>
                <!-- </a> -->
            </div>
            {% endfor %}
        </div>
    </div>

</section>

