.navbar {
    text-transform: lowercase;
    /* font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Ubuntu Mono', monospace;
    font-weight: 800;
    /* background-image: linear-gradient(90deg, rgb(10, 26, 44) , rgb(24, 56, 88) , rgb(115, 141, 175) ); */
    background-color: {{ site.color.primary }} ;
}

/*agregamos css manual para titulo*/
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: {{ site.color.accents }};
    background-color: transparent;
}




footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-above {
    padding-top: 50px;
    /* background-color: #{{ site.color.secondary }}; */
    /* background-image: linear-gradient(90deg, rgb(10, 26, 44) , rgb(24, 56, 88) , rgb(115, 141, 175) ); */
    background-color: {{ site.color.primary }} ;
}

footer .footer-below {
    padding: 25px 0;
    /* background-color: #{{ site.color.secondary-dark }}; */
    /* background-image: linear-gradient(90deg, rgb(10, 26, 44) , rgb(24, 56, 88) , rgb(115, 141, 175) ); */
     background-color: {{ site.color.primary }} ;
}

div.polaroid {
    width: 250px;
    transition: box-shadow .6s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    text-align: center;
    border-radius: 25px;

    word-wrap: break-word;


    padding-left: 0px;
    padding-right: 0px;
    background-color: white;

}

div.polaroid:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.logo {
    vertical-align: middle;
    padding:0px 8px 0 8px;
    z-index:2;
    position:relative;
    border:0 none;
    width: 8rem;
    /* width: 10%; */
    height: auto;
    /* width: 10px; */
    margin-top: 0px;
}

.navbar-brand {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


@media (min-width: 768px)
.navbar-fixed-top .navbar-brand .logo  {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 800;
    font-size: 3em;
    width: 3rem;
    height: auto;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

vertical-align {
    vertical-align:middle;
    /* display: block; */
    padding:0 0 0 15px;
    margin-top: 0px;
}


.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #e7e7e7;
}
/*
.logo-letters {
    width:30%;
    heigth:auto;
    padding:0 0 0 0;
}

@media (min-width: 768px)
.logo-letters {
    width:50%%;
    heigth:auto;
    padding:0 0 0 0;
} */

/* body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 40px;
    color: #1d4063;
    background-color: #ffffff;
} */

.dropdown {
    /* background-color: #FD3E89; */
    color: #ffffff;
    padding: 16px;
    font-size: inherit;
    border: none;
    /* padding-top: inherit;
    padding-bottom: 19.5px; */
}
